
<div class="container-lg text-bg-light p-3">
  <table class="table table-striped">
    <thead>
      <tr class="text-bg-danger p-3">
        <th></th>
        <th>Invoice Id</th>
        <th>Payment Type</th>
        <th>Amount</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
    {% for i in invoice.invoice %}
      <tr>
        <td></td>
        <td>{{i.invoice_id}}</td>
        <td>{{i.payment_type}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.due_date}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
